.course-container{
    width: 580px;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: #fff;
}
.course-details{
    display: flex;
    margin: 20px 0px;
    text-align: center;
}

button {
    padding: 5px 20px;
    margin: 5px 20px;
    background-color: rgba(199, 199, 199, 0.808);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.756);
}

input {
    padding: 5px 20px;
    margin: 5px 20px;
    font-weight: bolder;
}

input:hover {
    background-color: rgba(231, 231, 231, 0.392);
    border: 2px solid rgb(79, 79, 79);
}