<div class="main-container">
  <div class="nav-container">
      <ul>
        <!-- active is a css class in style.css -->
          <!-- <li [routerLinkActive]="'active'"><a routerLink="Home">Home</a></li> -->
          <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'About'">About</a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="['Contact']">Contact</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="Courses">Courses</a></li>
          <span style="float: right;">
          <li (click)="login()"> <a>Login</a></li>
          <li (click)="logout()"> <a>Logout</a></li>
        </span>
        </ul>
  </div>
  <div class="component-container">
      <!-- <app-home></app-home>
      <app-about></app-about>
      <app-contact></app-contact>
      <app-courses></app-courses> -->
      <router-outlet></router-outlet>
      <div class="spinner" *ngIf="displayLoadingIndicator"></div>
  </div> 
</div>